#ENV
.venv/

# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

#Build
dist/
build/
*.egg-info/

#Tests
.pytest_cache/
.coverage
htmlcov/

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

#MAC
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store